.footer {
  width: 100%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30rem;
  gap: 5px;
  margin: 0 33px 0 33px;
}

footer a {
  color: #fff;
  text-decoration: underline;
}
